@import 'tailwindcss';
@import '../../vendor/livewire/flux/dist/flux.css';

@source '../views';
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../vendor/livewire/flux-pro/stubs/**/*.blade.php';
@source '../../vendor/livewire/flux/stubs/**/*.blade.php';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

    --color-zinc-50: var(--color-stone-50);
    --color-zinc-100: var(--color-stone-100);
    --color-zinc-200: var(--color-stone-200);
    --color-zinc-300: var(--color-stone-300);
    --color-zinc-400: var(--color-stone-400);
    --color-zinc-500: var(--color-stone-500);
    --color-zinc-600: var(--color-stone-600);
    --color-zinc-700: var(--color-stone-700);
    --color-zinc-800: var(--color-stone-800);
    --color-zinc-900: var(--color-stone-900);
    --color-zinc-950: var(--color-stone-950);

    --color-accent: var(--color-sky-600);
    --color-accent-content: var(--color-sky-600);
    --color-accent-foreground: var(--color-white);

    --color-divider: var(--color-zinc-200);
}

@layer theme {
    .dark {
        --color-accent: var(--color-sky-600);
        --color-accent-content: var(--color-sky-400);
        --color-accent-foreground: var(--color-white);

        --color-divider: var(--color-zinc-700);
    }
}

@layer base {

    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        border-color: var(--color-gray-200, currentColor);
    }
}

[data-flux-field]:not(ui-radio, ui-checkbox) {
    @apply grid gap-2;
}

[data-flux-label] {
    @apply  !mb-0 !leading-tight;
}

input:focus[data-flux-control],
textarea:focus[data-flux-control],
select:focus[data-flux-control] {
    @apply outline-hidden ring-2 ring-accent ring-offset-2 ring-offset-accent-foreground;
}

/* \[:where(&)\]:size-4 {
    @apply size-4;
} */

.flash-message {
    padding: calc(var(--spacing) * 2) calc(var(--spacing) * 3);
    border-radius: var(--radius-lg);
}

.flash-success {
    background-color: var(--color-green-500);
    color: var(--color-zinc-50);
}

.flash-error {
    background-color: var(--color-red-500);
    color: var(--color-zinc-50);
}

.profile-cutout-shape {
    shape-outside: polygon(0 0, 0 25%, 100% 25%, 100% 100%, 0 100%);
}

.w-128 {
    width: calc(var(--spacing) * 128);
}

.text-link {
    color: var(--color-accent);
    text-decoration: underline;
}

#blog-body-container {
    overflow: hidden;

    h1 {
        font-size: var(--text-4xl);
    }

    h2 {
        font-size: var(--text-3xl);
    }

    h3 {
        font-size: var(--text-2xl);
    }

    h4 {
        font-size: var(--text-xl);
    }

    h5 {
        font-size: var(--text-lg);
    }

    hr {
        border-color: var(--color-divider);
    }

    h1, h2 {
        border-bottom: 1px solid var(--color-divider);
    }

    h1, h2, ul, ol {
        margin-top: calc(var(--spacing) * 2);
        margin-bottom: calc(var(--spacing) * 2);
    }

    h3, h4, h5, h6, table {
        margin-top: var(--spacing);
        margin-bottom: var(--spacing);
    }

    h1, h2, h3, h4, h5, h6 {
        font-weight: var(--font-weight-bold);
    }

    ul, ol {
        list-style-position: inside;
        font-weight: var(--font-weight-normal);
    }

    ul {
        list-style-type: disc;
    }

    ol {
        list-style-type: decimal;
    }

    a {
        color: var(--color-accent);
        text-decoration: underline;
    }

    table, th, td {
        border: 1px solid var(--color-divider);
    }

    th, td {
        padding: var(--spacing) calc(2 * var(--spacing));
    }

    code {
        font-size: var(--text-sm);
    }
}

.masonry-sizer, .project {
    width: 33.3333%;
}

.standout {
    width: 66.666%;
}
